In [1]:
import sys
sys.path.append("../utils/")

In [2]:
from runner import Runner
from run_competing import RunCompeting

In [3]:
exp_name = "Matrix-Chain"
script_path = "../Matrix-Chain-4/variants-linnea/generate-variants-linnea.py"
args = ["200","200","10","200","200"]
runner = Runner("Matrix-Chain", script_path , args)

In [4]:
run_competing = RunCompeting(runner)

In [5]:
run_competing.generate_run()

New solution:..............2.4e+06
No further generation steps possible.
----------------------------------
Number of nodes:                 8
Solution nodes:                  1
Data:                     1.24e+05
Best solution:             2.4e+06
Intensity:                    19.4
Number of algorithms:            6
Generated Variants.
Running Experiments
Experiments completed

1

In [6]:
ct = run_competing.set_best_flop_duration_as_competing()
run_competing.measure_competing_variants(reps=5)

Running Experiments
Experiments completed

1

In [7]:
run_competing.prepare_event_data()

1

In [8]:
run_competing.duration_competing

  case:concept:name  case:timestamp:start  case:timestamp:end  case:duration
0      algorithm1_2          1.655217e+09        1.655217e+09       0.000519
1      algorithm1_0          1.655217e+09        1.655217e+09       0.000334
2      algorithm0_2          1.655217e+09        1.655217e+09       0.000324
3      algorithm0_0          1.655217e+09        1.655217e+09       0.000418
4      algorithm1_4          1.655217e+09        1.655217e+09       0.000329
5      algorithm0_4          1.655217e+09        1.655217e+09       0.000108
6      algorithm1_3          1.655217e+09        1.655217e+09       0.000114
7      algorithm0_3          1.655217e+09        1.655217e+09       0.000136
8      algorithm1_1          1.655217e+09        1.655217e+09       0.000152
9      algorithm0_1          1.655217e+09        1.655217e+09       0.000385

In [9]:
run_competing.get_variant_duration(run_competing.competing_variants[0])

  case:concept:name  case:timestamp:start  case:timestamp:end  case:duration
0      algorithm1_2          1.655217e+09        1.655217e+09       0.000519
1      algorithm1_0          1.655217e+09        1.655217e+09       0.000334
4      algorithm1_4          1.655217e+09        1.655217e+09       0.000329
6      algorithm1_3          1.655217e+09        1.655217e+09       0.000114
8      algorithm1_1          1.655217e+09        1.655217e+09       0.000152